* {
  margin: 0;
  padding: 0;
  height: fit-content;
  /* background-position-x: center; */
  /* box-sizing: border-box; */
}

/* .App {
  background: #d4d4d4;
  height: 100vh;
} */

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: cover;
  width: 100%;
  height: 100%;
  position: center;
  top: 0;
  left: 0;
  z-index: 0; */
}

.fPage {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    background-image: url(./images/webHome2.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 40px;
}

.fPage h1 {
  margin-top: -50px;
  font-family: 'Roboto', sans-serif;
}
.fPage h5 {
  line-height: 180px;
  /* margin-top: 100px; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.fPage p {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: large;
}

.fPage2 {
    background-image: url('./images/webHome3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 40px;
    height: 720px;
}
.fPage2 h1{
  font-weight: 500;
  font-size: 30px;
  margin-left: 810px;
  line-height: 500px;
}
.fPage2 h3{
  font-weight: 500;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  margin-left: 810px;
  margin-top: -225px;
}
.fPage2 p{
  margin-left: 810px;
  margin-top: 20px;

}