* {
  margin: 0;
  padding: 0;
  height: fit-content;
  /* background-position-x: center; */
  /* box-sizing: border-box; */
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: cover;
  width: 100%;
  height: 100%;
  position: center;
  top: 0;
  left: 0;
  z-index: 0; */
}

.fPage {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    background-image: url(./images/webHome2.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 40px;
}
.fPage hr {
  /* border: 10; */
  margin: auto;
  margin-top: 20px;
  width: 90%;
  /* color: rgb(36, 36, 36); */
  /* background-color: rgb(36, 36, 36); */
  height: 6px;
  border: 1px solid rgb(124, 124, 124);
}
/* div.hr {
  height: 15px;
  background: #fff url(hr1.gif) no-repeat scroll center;
}
div.hr hr {
  display: none;
} */

.fPage h1 {
  font-family: 'Roboto', sans-serif;
  padding-top: 25px;
}
.fPage h5 {
  padding-top: 30px;
  /* margin-top: 100px; */
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.fPage p {
  padding-top: 5px;
  margin-bottom: 40px;
  font-size: large;
}

.fPageBg {
    /* background-image: url('./images/webHome3.png'); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position-x: center;
    background: url('./images/webHome3.png') no-repeat center center fixed; 
    background-size: cover;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.fPageBgStyle{
  /* display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  margin: 0 auto; */
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 150px;
}
.fPage2Txt{
  text-align: left;
  margin-left: 100px;
}
.fPage2Txt h1{
margin-bottom: 0px;
}
.fPage2Txt h3{
margin-bottom: 10px;
}
.fPage2Txt p{
  padding-top: 15px;
}
.fPage2Txt hr {
}

.fPage4{
  background-image: url(./images/webHome4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  /* height: 700px; */
  padding-bottom: 200px;
}
.fPage4 h1 {
  text-align: left;
  color:#ffffff;
  margin-left: 180px;
  padding-top: 20px;
  font-size: 2.7rem;
}
.fPage4 h3 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-weight: 900;
  margin-left: 180px;
  padding-top: 220px;
}
.fPage4 h5 {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 275px;
  padding-top: 15px;
}

@media (max-width: 1000px) {
  .fPage4 h1 {
    margin-left: 80px;
  }
  .fPage4 h3 {
    margin-left: 80px;
  }
  .fPage4 h5 {
    margin-right: 80px;
  }
}
@media (max-width: 600px) {
  .fPage4 {
    background-position: top;
  }
}

.fPage5 {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  background-image: url(./images/webHome2.png);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 40px;
  position: relative;
}
.fPage5 h1 {
  padding-top: 50px;
  /* margin-top: 100px; */
  font-size: 1.5em;
  font-weight: 500;
}
.fPage5 h4 {
    margin: auto;
    margin-top: 30px;
    font-family: 'Cardo', serif;
  }

.fPage5 li{
  margin-top: 15px;
  margin-bottom: 50px;
	font-size: 1em;
	text-transform: uppercase solid;
	font-weight: 500;
  font-family: 'Roboto', sans-serif;
  /* border-radius: 3px; */
  /* transition: 0.2s ease-in-out; */
}
.fPage5 a{
  pointer-events: auto;
  border-top: 80px;
  position: relative;
  color: hsla(0, 0%, 0%, 0.886);
}
.fPage5 hr {
  margin: auto;
  width: 16%;
  height: .5px;
  border: 0;
  background-color: rgb(0, 0, 0);
  margin-bottom: 40px;
}
@media (max-width: 800px) {
  .fPage5 hr {
    width: 40%;
  }
}
.pImage:hover {
  transform: scale(1.2);
}
.iContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iText {
  text-align: center;
}
.fPage5 ol a{
	font-size: .8em;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: black;
  width: 45%;
}