* {
  margin: 0;
  padding: 0;
  height: fit-content;
  /* background-position-x: center; */
  /* box-sizing: border-box; */
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: cover;
  width: 100%;
  height: 100%;
  position: center;
  top: 0;
  left: 0;
  z-index: 0; */
}

.fPage {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    background-image: url(./images/webHome2.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 40px;
}
.fPage hr {
  /* border: 10; */
  margin: auto;
  margin-top: 20px;
  width: 90%;
  /* color: rgb(36, 36, 36); */
  /* background-color: rgb(36, 36, 36); */
  height: 6px;
  border: 1px solid rgb(124, 124, 124);
}
/* div.hr {
  height: 15px;
  background: #fff url(hr1.gif) no-repeat scroll center;
}
div.hr hr {
  display: none;
} */

.fPage h1 {
  font-family: 'Roboto', sans-serif;
  padding-top: 25px;
}
.fPage h5 {
  padding-top: 30px;
  /* margin-top: 100px; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.fPage p {
  padding-top: 5px;
  margin-bottom: 40px;
  font-size: large;
}

.fPage2 {
    background-image: url('./images/webHome3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

}
.fPage2 h1{

}
.fPage2 h3{

}
.fPage2 p{

}
.fPage2 hr {
  margin: 0 auto;
  margin-top: 1px;
  width: 100%;
  max-width: 50%;
  color: rgb(36, 36, 36);
  background-color: rgb(36, 36, 36);
  height: 1px;
}

.fPage4{
  background-image: url(./images/webHome4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  height: 700px;
}
.fPage4 h1 {
  text-align: left;
  color:#ffffff;
  margin-left: 180px;
  padding-top: 20px;
  font-size: 2.7rem;
}
.fPage4 h3 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-weight: 900;
  margin-left: 180px;
  padding-top: 220px;
}
.fPage4 h5 {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 275px;
  padding-top: 15px;
}

@media (max-width: 1000px) {
  .fPage4 h1 {
    margin-left: 80px;
  }
  .fPage4 h3 {
    margin-left: 80px;
  }
  .fPage4 h5 {
    margin-right: 80px;
  }
}
@media (max-width: 600px) {
  .fPage4 {
    background-position: top;
  }
}

.fPage5 {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  background-image: url(./images/webHome2.png);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 40px;
  position: relative;
}
.fPage5 h1 {
  padding-top: 50px;
  /* margin-top: 100px; */
  font-weight: 500;
}
.fPage5 h4 {
    margin: auto;
    margin-top: 30px;
    font-family: 'Cardo', serif;
  }

.fPage5 li {
  margin-top: 10px;
  margin-bottom: 50px;
	font-size: 500;
	text-transform: uppercase solid;
	font-weight: 500;
	color: black;
  font-family: 'Roboto', sans-serif;
  /* border-radius: 3px; */
  /* transition: 0.2s ease-in-out; */
}
.fPage5 a {
  pointer-events: auto;
}
.fPage5 hr {
  margin: auto;
  margin-top: 4px;
  width: 20%;
  /* color: rgb(36, 36, 36);
  background-color: rgb(36, 36, 36); */
  height: 0px;
  border-top: 0px solid black;
}
.pImage:hover {
  transform: scale(1.2);
}
.iContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iText {
  text-align: center;
}
.fPage5 ol a{
	font-size: .8em;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: black;
  width: 45%;
}